
<mat-sidenav-container class="sidenav-container" (backdropClick)="close('backdrop')">
  <mat-sidenav mode="over" class="sidenav" #sidenav (keydown.escape)="close('escape')" disableClose>
    <div class="text-end btn-close-container">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close('toggle button')"></button>
    </div>
    <accordion [closeOthers]="true" [isAnimated]="true">
      <accordion-group *ngFor="let item of menuOptions" (isOpenChange)="onOpenEvent(item)">
        <button
          class="btn btn-link btn-block justify-content-between d-flex w-100  shadow-none"
          accordion-heading type="button">
          <div class="pull-left float-left">{{ item.name }}</div>
          <mat-icon class="pull-right float-right" *ngIf="!item.expanded">expand_more</mat-icon>
          <mat-icon class="pull-right float-right" *ngIf="item.expanded">expand_less</mat-icon>
        </button>
        <div *ngFor="let item of item.items">
          <ul class="list-group" style="cursor: pointer;">
            <li class="list-group-item" [routerLink]="[item.route, item.param]" (click)="sidenav.close()" *ngIf="item.active">&nbsp;&nbsp;{{ item.name }}</li>
          </ul>
        </div>
      </accordion-group>
    </accordion>
    <!-- <div *ngFor="let item of menuOptions">
      <div class="title-container" *ngIf="item.active">
        <p><b>{{ item.name }}</b></p>
        <div *ngFor="let item of item.items">
          <ul class="list-group" style="cursor: pointer;">
            <li class="list-group-item" [routerLink]="[item.route, item.param]" (click)="sidenav.close()" *ngIf="item.active">&nbsp;&nbsp;{{ item.name }}</li>
          </ul>
        </div>
      </div>
    </div> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Menu" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span><b>{{ title }}</b></span>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading()"></mat-progress-bar>
    <div class="container" [ngClass]="{'loading-margin': !isLoading()}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
