
mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    background: #fafafa;
    width: 300px;

    .btn-close-container {
      padding: 1rem;
    }

    .title-container {
      p {
        padding: 1rem 1rem 0 1rem;
      }
      div ul li {
        border-radius: 0;
      }
    }

    .profile-content {
      margin: 0 0 30px 0;
      width: 100%;
      text-align: center;
    }
  }

  mat-sidenav-content {
    background-color: rgb(240 240 240);

    &.bg-login-screen {
      background: url(../assets/images/bg01.jpg) no-repeat center center fixed;
      background-size: cover;
    }

    .container {
      margin-top: 16px;

      &.loading-margin {
        margin-top: 20px;
      }
    }

  }
}
