
<div class="card mt-3">
  <div class="card-header container">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-8 title">
          <div class="fw-bold fs-5">{{ beautifyName(model?.constructor?.name) }}</div>
        </div>
        <div class="col-2 actions text-end">
          <button mat-icon-button color="primary" tooltip="Create" aria-label="Create" (click)="onCreate()"><mat-icon>add</mat-icon></button>
          <!-- <button mat-icon-button color="primary" tooltip="Clear" aria-label="Clear" (click)="clearFilter()"><mat-icon>filter_alt_off</mat-icon></button> -->
          <button mat-icon-button color="primary" tooltip="Refresh" aria-label="Refresh" (click)="onRefresh()"><mat-icon>refresh</mat-icon></button>
        </div>
      </div>
      <div class="row filters" [formGroup]="formFilter">
        <div class="col-2 form-group" *ngFor="let field of model?.fields">
          <label for="{{ field.name }}">{{ field.label }}</label>
          <input type="{{ field.type }}" id="{{ field.name }}" class="form-control"
            formControlName="{{ field.name }}" autocomplete="off" maxlength="{{ field.length }}">
        </div>
        <div class="col-1 form-group clear-button">
          <button mat-icon-button color="primary" tooltip="Clear" aria-label="Clear" (click)="clearFilter()"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body table-responsive align-middle">

    <mat-drawer-container class="container" autosize>
      <mat-drawer #drawer class="sidenav" position="end" (closed)="onExitEditMode()">
        <app-table-form [modelEdit]="modelEdit" (save)="onSave($event)" (cancel)="onCancel($event)" [editionMode]="editionMode"
          *ngIf="modelEdit !== undefined && ['edit', 'create', 'copy'].includes(editionMode)"></app-table-form>
      </mat-drawer>
      <div class="sidenav-content">

        <div *ngIf="items$ | async as items; else loading">
          <table class="table table-hover table-sm" *ngIf="items.length > 0; else isEmpty">
            <thead>
              <tr>
                <th class="align-middle" *ngFor="let column of model.fields">{{ beautifyName(column.name) }}</th>
                <th class="align-middle text-center">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td class="align-middle" *ngFor="let column of model.fields">{{ getKeys(item, column.name) }}</td>
                <td class="align-middle text-center actions">
                  <button mat-icon-button color="primary" aria-label="Edit" class="mb-1 btn-sm" (click)="onEdit(item)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Copy" class="mb-1 btn-sm" (click)="onCopy(item)">
                    <mat-icon>content_copy</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Delete" class="mb-1 btn-sm" (click)="onDelete(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #isEmpty>
            <div class="is-empty">
              <p>Nothing to be shown.</p>
            </div>
          </ng-template>
        </div>

        <ng-template #loading>
          <div class="loading-spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </div>
    </mat-drawer-container>

  </div>
  <div class="card-footer">
    
  </div>
</div>

